**/.DS_Store
.classpath
.project
.settings
.gradle
/nbproject/**
/build/**
bin/**

/.gradle/
/bin/

/output/
/out/

# don't commit the autobuilt version file
src/main/resources/version.txt

# H2 database files
**/*.mv.db
**/*.trace.db

# VS Code launch settings
.vscode/launch.test.json
.vscode/launch.json
.vscode/settings.json
/build/

src/main/resources/map.json
src/main/groovy/syntheagecco/RunGenerator.java

/archive/*

/.idea
/log/
/src/main/resources/output/
/optimize/
/.idea/
/output/
/generated/
/generator/

/archive\\*

src/main/groovy/Script.groovy
src/main/groovy/TestFutures.groovy
src/main/groovy/ArrayListTest.groovy
/target/
